.edit_channel_wrapper
	%button.JS-back-btn
		= fa_icon("times")
		%p Esc
	.contents
		.contents__header
			%h1 他のユーザーを ##{@channel.name}に招待する
			= hidden_field_tag "added_users", "#{@channel.users.ids}"
		= form_with model: @channel do |f|
			.field
				%br/
				= render "user-search"
			= f.submit "招待する", class: "btn small-btn float-right"

