.wrapper.flex
  .left
    .left__info.header.nav
      %h3 UZEMI
      = fa_icon("angle-down")
      = fa_icon("bell")
      .left__info__user
        = fa_icon("circle")
        %p naokada
      = render 'nav_user'
    .left__threads
    .left__channels.groups
      .groups__title
        %p.hover-white チャンネル
        = fa_icon("plus-circle")
      %ul.groups__list
        - @channels.each do |channel|
          %li
            = link_to("# #{channel.name}", channel_path(channel.id))
    .left__directs.groups
      .groups__title
        %p.hover-white ダイレクトメッセージ
        = fa_icon("plus-circle")
      %ul.groups__list
        %li
          = fa_icon("circle")
          %p slackbot
        %li
          = fa_icon("circle")
          %p naokada
    .left__apps.groups
      .groups__title
        %p.hover-white App
        = fa_icon("plus-circle")
