.message.flex
	- if (message.user.avator.attached?)
		= image_tag message.user.avator, class:'thumb_36'
	- else
		= image_tag('default_prof1.png', class: 'thumb_36')
	.message__contents
		.message__user
			%h4 #{message.user.name}
			%p.message__time #{message.created_at.strftime('%H:%M')}
		%p.message__text #{message.content}
