!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Slack
    %link(rel="shortcut icon" href="#{image_path("slack_logo.png")}" type="image/png")
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header_devise
      = image_url("slack_logo_long.png")
      .nav.flex
        %a.only_small.last(href="") Menu
        %a.only_small(href="https://slack.com/intl/ja-jp/downloads/osx") Download Slack
        %a.only_large.last(href="https://slack.com/signin") Sign in
        %a.only_large(href="https://slack.com/get-started") Find your workspace
        %a.only_large(href="https://slack.com/create") Create a new workspace
        %a.only_large(href="https://get.slack.help/hc/en-us") Support
        %a.only_large(href="https://slack.com/pricing?ui_step=55&ui_element=5") Pricing
        %a.only_large(href="https://slack.com/intl/ja-jp/features") Product
    .devise_body
      - flash.each do |key, value|
        = content_tag(:div, value, class: "devise_#{key}")
      = yield
